<h1>All Landmarks:</h1>
<ul>
  <% @landmarks.each do |landmark| %>
    <li><a href="/landmarks/<%= landmark.id %>">Name: <%= landmark.name %></a></li>
    <li>Year Completes: <%= landmark.year_completed %></li>
  <% end %>
</ul>

<br/>
<a class="button" href="/landmarks/new">Create new landmarks</a>
<a class="button" href="/figures">View Figures</a>